USE [master]
GO
/****** Object:  Database [Milla]    Script Date: 23.12.2025 00:27:45 ******/
CREATE DATABASE [Milla]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Milla', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Milla.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Milla_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Milla_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Milla].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Milla]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](120) NOT NULL,
	[Description] [nvarchar](400) NULL,
	[ParentCategoryID] [int] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Category_CategoryName] UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandID] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](120) NOT NULL,
	[Country] [nvarchar](100) NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Brand_BrandName] UNIQUE NONCLUSTERED 
(
	[BrandName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[StoreName] [nvarchar](150) NOT NULL,
	[ContactEmail] [nvarchar](255) NULL,
	[ContactPhone] [nvarchar](20) NULL,
	[AddressText] [nvarchar](250) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Supplier_StoreName] UNIQUE NONCLUSTERED 
(
	[StoreName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[BrandID] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[UnitPrice] [decimal](12, 2) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariant]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariant](
	[VariantID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Size] [nvarchar](10) NOT NULL,
	[Color] [nvarchar](30) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[Sku] [nvarchar](50) NULL,
 CONSTRAINT [PK_ProductVariant] PRIMARY KEY CLUSTERED 
(
	[VariantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Variant] UNIQUE NONCLUSTERED 
(
	[ProductID] ASC,
	[Size] ASC,
	[Color] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_FashionCatalog]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_FashionCatalog]
AS
SELECT
    p.ProductID,
    p.ProductName,
    c.CategoryName,
    b.BrandName,
    s.StoreName AS SupplierName,
    p.UnitPrice,
    p.ImageUrl,
    SUM(pv.StockQuantity) AS TotalVariantStock,
    COUNT(*) AS VariantCount
FROM dbo.Product p
INNER JOIN dbo.Category c ON c.CategoryID = p.CategoryID
INNER JOIN dbo.Brand b ON b.BrandID = p.BrandID
INNER JOIN dbo.Supplier s ON s.SupplierID = p.SupplierID
INNER JOIN dbo.ProductVariant pv ON pv.ProductID = p.ProductID
WHERE p.IsActive = 1
GROUP BY
    p.ProductID, p.ProductName, c.CategoryName, b.BrandName, s.StoreName, p.UnitPrice, p.ImageUrl;
GO
/****** Object:  View [dbo].[vw_VariantStock]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_VariantStock]
AS
SELECT
    p.ProductID,
    p.ProductName,
    pv.VariantID,
    pv.Size,
    pv.Color,
    pv.StockQuantity,
    p.UnitPrice
FROM dbo.ProductVariant pv
INNER JOIN dbo.Product p ON p.ProductID = pv.ProductID
WHERE p.IsActive = 1;
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[RegistrationDate] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Customer_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[AddressID] [int] NOT NULL,
	[OrderDate] [datetime2](0) NOT NULL,
	[OrderStatus] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](500) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[VariantID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPriceAtOrder] [decimal](12, 2) NOT NULL,
	[LineTotal]  AS (CONVERT([decimal](14,2),[Quantity]*[UnitPriceAtOrder])) PERSISTED,
 CONSTRAINT [PK_OrderItem] PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_OrderItem_Order_Variant] UNIQUE NONCLUSTERED 
(
	[OrderID] ASC,
	[VariantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OrderSummary]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_OrderSummary]
AS
SELECT
    o.OrderID,
    o.OrderDate,
    o.OrderStatus,
    o.CustomerID,
    (c.FirstName + N' ' + c.LastName) AS CustomerFullName,
    SUM(oi.LineTotal) AS OrderTotal,
    COUNT(*) AS ItemCount
FROM dbo.[Order] o
INNER JOIN dbo.Customer c ON c.CustomerID = o.CustomerID
INNER JOIN dbo.OrderItem oi ON oi.OrderID = o.OrderID
GROUP BY
    o.OrderID, o.OrderDate, o.OrderStatus, o.CustomerID, (c.FirstName + N' ' + c.LastName);
GO
/****** Object:  View [dbo].[vw_LowStockVariants]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_LowStockVariants]
AS
SELECT
    p.ProductName,
    pv.VariantID,
    pv.Size,
    pv.Color,
    pv.StockQuantity,
    s.StoreName AS SupplierName
FROM dbo.ProductVariant pv
INNER JOIN dbo.Product p ON p.ProductID = pv.ProductID
INNER JOIN dbo.Supplier s ON s.SupplierID = p.SupplierID
WHERE pv.StockQuantity <= 5;
GO
/****** Object:  Table [dbo].[Address]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[AddressLine] [nvarchar](200) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[District] [nvarchar](100) NULL,
	[ZipCode] [nvarchar](20) NULL,
	[Country] [nvarchar](100) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[AnswerID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionID] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
	[AnswerText] [nvarchar](1000) NOT NULL,
	[AnswerDate] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Answer] PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppUser]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUser](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[Role] [nvarchar](10) NOT NULL,
	[CustomerID] [int] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_AppUser] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AppUser_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[PaymentDate] [datetime2](0) NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[PaymentStatus] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Payment_Order] UNIQUE NONCLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[QuestionText] [nvarchar](1000) NOT NULL,
	[QuestionDate] [datetime2](0) NOT NULL,
	[IsAnswered] [bit] NOT NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Return]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Return](
	[ReturnID] [int] IDENTITY(1,1) NOT NULL,
	[OrderItemID] [int] NOT NULL,
	[ReturnDate] [datetime2](0) NOT NULL,
	[ReturnReason] [nvarchar](300) NULL,
	[Quantity] [int] NOT NULL,
	[ReturnStatus] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Return] PRIMARY KEY CLUSTERED 
(
	[ReturnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[ReviewText] [nvarchar](1000) NULL,
	[ReviewDate] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Review_Customer_Product] UNIQUE NONCLUSTERED 
(
	[CustomerID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Order_CustomerId_OrderDate]    Script Date: 23.12.2025 00:27:45 ******/
CREATE NONCLUSTERED INDEX [IX_Order_CustomerId_OrderDate] ON [dbo].[Order]
(
	[CustomerID] ASC,
	[OrderDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItem_OrderId]    Script Date: 23.12.2025 00:27:45 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItem_OrderId] ON [dbo].[OrderItem]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_BrandId]    Script Date: 23.12.2025 00:27:45 ******/
CREATE NONCLUSTERED INDEX [IX_Product_BrandId] ON [dbo].[Product]
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_CategoryId]    Script Date: 23.12.2025 00:27:45 ******/
CREATE NONCLUSTERED INDEX [IX_Product_CategoryId] ON [dbo].[Product]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_SupplierId]    Script Date: 23.12.2025 00:27:45 ******/
CREATE NONCLUSTERED INDEX [IX_Product_SupplierId] ON [dbo].[Product]
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariant_ProductId]    Script Date: 23.12.2025 00:27:45 ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariant_ProductId] ON [dbo].[ProductVariant]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Question_ProductId]    Script Date: 23.12.2025 00:27:45 ******/
CREATE NONCLUSTERED INDEX [IX_Question_ProductId] ON [dbo].[Question]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Review_ProductId]    Script Date: 23.12.2025 00:27:45 ******/
CREATE NONCLUSTERED INDEX [IX_Review_ProductId] ON [dbo].[Review]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Address] ADD  CONSTRAINT [DF_Address_Country]  DEFAULT (N'Türkiye') FOR [Country]
GO
ALTER TABLE [dbo].[Address] ADD  CONSTRAINT [DF_Address_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[Address] ADD  CONSTRAINT [DF_Address_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Answer] ADD  CONSTRAINT [DF_Answer_AnswerDate]  DEFAULT (sysutcdatetime()) FOR [AnswerDate]
GO
ALTER TABLE [dbo].[AppUser] ADD  CONSTRAINT [DF_AppUser_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_RegistrationDate]  DEFAULT (sysutcdatetime()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_OrderDate]  DEFAULT (sysutcdatetime()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF_Order_OrderStatus]  DEFAULT (N'Pending') FOR [OrderStatus]
GO
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [DF_Payment_PaymentDate]  DEFAULT (sysutcdatetime()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [DF_Payment_Status]  DEFAULT (N'Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_QuestionDate]  DEFAULT (sysutcdatetime()) FOR [QuestionDate]
GO
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_IsAnswered]  DEFAULT ((0)) FOR [IsAnswered]
GO
ALTER TABLE [dbo].[Return] ADD  CONSTRAINT [DF_Return_ReturnDate]  DEFAULT (sysutcdatetime()) FOR [ReturnDate]
GO
ALTER TABLE [dbo].[Return] ADD  CONSTRAINT [DF_Return_Status]  DEFAULT (N'Requested') FOR [ReturnStatus]
GO
ALTER TABLE [dbo].[Review] ADD  CONSTRAINT [DF_Review_ReviewDate]  DEFAULT (sysutcdatetime()) FOR [ReviewDate]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_Customer]
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Question] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([QuestionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_Answer_Question]
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_Answer_Supplier]
GO
ALTER TABLE [dbo].[AppUser]  WITH CHECK ADD  CONSTRAINT [FK_AppUser_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[AppUser] CHECK CONSTRAINT [FK_AppUser_Customer]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Parent] FOREIGN KEY([ParentCategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Parent]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Address] FOREIGN KEY([AddressID])
REFERENCES [dbo].[Address] ([AddressID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Address]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Order]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Variant] FOREIGN KEY([VariantID])
REFERENCES [dbo].[ProductVariant] ([VariantID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Variant]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Order]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Brand] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([BrandID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Brand]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Supplier]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariant_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [FK_ProductVariant_Product]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_Customer]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_Product]
GO
ALTER TABLE [dbo].[Return]  WITH CHECK ADD  CONSTRAINT [FK_Return_OrderItem] FOREIGN KEY([OrderItemID])
REFERENCES [dbo].[OrderItem] ([OrderItemID])
GO
ALTER TABLE [dbo].[Return] CHECK CONSTRAINT [FK_Return_OrderItem]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Customer]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Product]
GO
ALTER TABLE [dbo].[AppUser]  WITH CHECK ADD  CONSTRAINT [CK_AppUser_Role] CHECK  (([Role]=N'User' OR [Role]=N'Admin'))
GO
ALTER TABLE [dbo].[AppUser] CHECK CONSTRAINT [CK_AppUser_Role]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [CK_Order_Status] CHECK  (([OrderStatus]=N'Cancelled' OR [OrderStatus]=N'Delivered' OR [OrderStatus]=N'Shipped' OR [OrderStatus]=N'Processing' OR [OrderStatus]=N'Pending'))
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [CK_Order_Status]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [CK_OrderItem_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [CK_OrderItem_Quantity]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [CK_OrderItem_UnitPrice] CHECK  (([UnitPriceAtOrder]>=(0)))
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [CK_OrderItem_UnitPrice]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CK_Payment_Amount] CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CK_Payment_Amount]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CK_Payment_Method] CHECK  (([PaymentMethod]=N'CashOnDelivery' OR [PaymentMethod]=N'BankTransfer' OR [PaymentMethod]=N'CreditCard'))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CK_Payment_Method]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CK_Payment_Status] CHECK  (([PaymentStatus]=N'Failed' OR [PaymentStatus]=N'Completed' OR [PaymentStatus]=N'Pending'))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CK_Payment_Status]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_UnitPrice] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_UnitPrice]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [CK_Variant_Size] CHECK  (([Size]=N'XXL' OR [Size]=N'XL' OR [Size]=N'L' OR [Size]=N'M' OR [Size]=N'S' OR [Size]=N'XS'))
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [CK_Variant_Size]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [CK_Variant_Stock] CHECK  (([StockQuantity]>=(0)))
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [CK_Variant_Stock]
GO
ALTER TABLE [dbo].[Return]  WITH CHECK ADD  CONSTRAINT [CK_Return_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Return] CHECK CONSTRAINT [CK_Return_Quantity]
GO
ALTER TABLE [dbo].[Return]  WITH CHECK ADD  CONSTRAINT [CK_Return_Status] CHECK  (([ReturnStatus]=N'Refunded' OR [ReturnStatus]=N'Rejected' OR [ReturnStatus]=N'Approved' OR [ReturnStatus]=N'Requested'))
GO
ALTER TABLE [dbo].[Return] CHECK CONSTRAINT [CK_Return_Status]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [CK_Review_Rating] CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [CK_Review_Rating]
GO
/****** Object:  StoredProcedure [dbo].[sp_AdminAddProduct]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AdminAddProduct]
    @CategoryID   INT,
    @BrandID      INT,
    @SupplierID   INT,
    @ProductName  NVARCHAR(200),
    @UnitPrice    DECIMAL(12,2),
    @Description  NVARCHAR(1000) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Product (CategoryID, BrandID, SupplierID, ProductName, UnitPrice, Description)
    VALUES (@CategoryID, @BrandID, @SupplierID, @ProductName, @UnitPrice, @Description);

    SELECT SCOPE_IDENTITY() AS NewProductID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AdminAddVariant]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AdminAddVariant]
    @ProductID     INT,
    @Size          NVARCHAR(10),
    @Color         NVARCHAR(30),
    @StockQuantity INT,
    @Sku           NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Product WHERE ProductID = @ProductID AND IsActive = 1)
    BEGIN
        RAISERROR('Invalid or inactive ProductID.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.ProductVariant (ProductID, Size, Color, StockQuantity, Sku)
    VALUES (@ProductID, @Size, @Color, @StockQuantity, @Sku);

    SELECT SCOPE_IDENTITY() AS NewVariantID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AdminDeactivateProduct]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AdminDeactivateProduct]
    @ProductID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Product WHERE ProductID = @ProductID)
    BEGIN
        RAISERROR('Invalid ProductID.', 16, 1);
        RETURN;
    END

    UPDATE dbo.Product
    SET IsActive = 0
    WHERE ProductID = @ProductID;

    SELECT ProductID, ProductName, IsActive FROM dbo.Product WHERE ProductID = @ProductID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AdminUpdateProductPriceAndInfo]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AdminUpdateProductPriceAndInfo]
    @ProductID    INT,
    @ProductName  NVARCHAR(200) = NULL,
    @UnitPrice    DECIMAL(12,2) = NULL,
    @Description  NVARCHAR(1000) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Product WHERE ProductID = @ProductID)
    BEGIN
        RAISERROR('Invalid ProductID.', 16, 1);
        RETURN;
    END

    UPDATE dbo.Product
    SET
        ProductName = COALESCE(@ProductName, ProductName),
        UnitPrice   = COALESCE(@UnitPrice, UnitPrice),
        Description = COALESCE(@Description, Description)
    WHERE ProductID = @ProductID;

    SELECT * FROM dbo.Product WHERE ProductID = @ProductID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AdminUpdateVariantStock]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AdminUpdateVariantStock]
    @VariantID     INT,
    @NewStock      INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.ProductVariant WHERE VariantID = @VariantID)
    BEGIN
        RAISERROR('Invalid VariantID.', 16, 1);
        RETURN;
    END

    IF @NewStock < 0
    BEGIN
        RAISERROR('Stock cannot be negative.', 16, 1);
        RETURN;
    END

    UPDATE dbo.ProductVariant
    SET StockQuantity = @NewStock
    WHERE VariantID = @VariantID;

    SELECT * FROM dbo.ProductVariant WHERE VariantID = @VariantID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UserAddOrderItemByVariant]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UserAddOrderItemByVariant]
    @OrderID   INT,
    @VariantID INT,
    @Quantity  INT
AS
BEGIN
    SET NOCOUNT ON;

    IF @Quantity <= 0
    BEGIN
        RAISERROR('Quantity must be > 0.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM dbo.[Order] WHERE OrderID = @OrderID)
    BEGIN
        RAISERROR('Invalid OrderID.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (
        SELECT 1
        FROM dbo.ProductVariant pv
        INNER JOIN dbo.Product p ON p.ProductID = pv.ProductID
        WHERE pv.VariantID = @VariantID AND p.IsActive = 1
    )
    BEGIN
        RAISERROR('Invalid VariantID or product is inactive.', 16, 1);
        RETURN;
    END

    BEGIN TRY
        BEGIN TRAN;

        -- Stok kontrol + düşür (UPDLOCK ile yarış durumunu azaltır)
        DECLARE @Stock INT;
        SELECT @Stock = pv.StockQuantity
        FROM dbo.ProductVariant pv WITH (UPDLOCK, ROWLOCK)
        WHERE pv.VariantID = @VariantID;

        IF @Stock < @Quantity
        BEGIN
            RAISERROR('Insufficient variant stock.', 16, 1);
            ROLLBACK TRAN;
            RETURN;
        END

        UPDATE dbo.ProductVariant
        SET StockQuantity = StockQuantity - @Quantity
        WHERE VariantID = @VariantID;

        -- fiyatı producttan al
        DECLARE @Price DECIMAL(12,2);
        SELECT @Price = p.UnitPrice
        FROM dbo.ProductVariant pv
        INNER JOIN dbo.Product p ON p.ProductID = pv.ProductID
        WHERE pv.VariantID = @VariantID;

        INSERT INTO dbo.OrderItem (OrderID, VariantID, Quantity, UnitPriceAtOrder)
        VALUES (@OrderID, @VariantID, @Quantity, @Price);

        COMMIT TRAN;

        SELECT * FROM dbo.OrderItem WHERE OrderID = @OrderID AND VariantID = @VariantID;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UserCreateOrder]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UserCreateOrder]
    @CustomerID INT,
    @AddressID  INT,
    @Notes      NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Customer WHERE CustomerID = @CustomerID)
    BEGIN
        RAISERROR('Invalid CustomerID.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM dbo.Address WHERE AddressID = @AddressID AND CustomerID = @CustomerID)
    BEGIN
        RAISERROR('Address does not belong to the customer.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.[Order] (CustomerID, AddressID, OrderStatus, Notes)
    VALUES (@CustomerID, @AddressID, N'Pending', @Notes);

    SELECT SCOPE_IDENTITY() AS NewOrderID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UserCreatePayment]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UserCreatePayment]
    @OrderID       INT,
    @PaymentMethod NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.[Order] WHERE OrderID = @OrderID)
    BEGIN
        RAISERROR('Invalid OrderID.', 16, 1);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM dbo.Payment WHERE OrderID = @OrderID)
    BEGIN
        RAISERROR('Payment already exists for this order.', 16, 1);
        RETURN;
    END

    DECLARE @Amount DECIMAL(12,2) =
        (SELECT COALESCE(SUM(LineTotal), 0) FROM dbo.OrderItem WHERE OrderID = @OrderID);

    IF @Amount <= 0
    BEGIN
        RAISERROR('Order has no items; payment cannot be created.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.Payment (OrderID, PaymentMethod, Amount, PaymentStatus)
    VALUES (@OrderID, @PaymentMethod, @Amount, N'Completed');

    -- sipariş durumunu ilerletmek istersen:
    UPDATE dbo.[Order]
    SET OrderStatus = N'Processing'
    WHERE OrderID = @OrderID AND OrderStatus = N'Pending';

    SELECT * FROM dbo.Payment WHERE OrderID = @OrderID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UserCreateReturn]    Script Date: 23.12.2025 00:27:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UserCreateReturn]
    @OrderItemID   INT,
    @Quantity      INT,
    @ReturnReason  NVARCHAR(300) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @Quantity <= 0
    BEGIN
        RAISERROR('Return quantity must be > 0.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM dbo.OrderItem WHERE OrderItemID = @OrderItemID)
    BEGIN
        RAISERROR('Invalid OrderItemID.', 16, 1);
        RETURN;
    END

    BEGIN TRY
        BEGIN TRAN;

        DECLARE @BoughtQty INT, @VariantID INT;
        SELECT @BoughtQty = Quantity, @VariantID = VariantID
        FROM dbo.OrderItem WITH (UPDLOCK, ROWLOCK)
        WHERE OrderItemID = @OrderItemID;

        -- Daha önce iade edilen miktarı düş
        DECLARE @AlreadyReturned INT =
            (SELECT COALESCE(SUM(Quantity), 0) FROM dbo.[Return] WHERE OrderItemID = @OrderItemID);

        IF (@AlreadyReturned + @Quantity) > @BoughtQty
        BEGIN
            RAISERROR('Return quantity exceeds purchased quantity.', 16, 1);
            ROLLBACK TRAN;
            RETURN;
        END

        INSERT INTO dbo.[Return] (OrderItemID, ReturnReason, Quantity, ReturnStatus)
        VALUES (@OrderItemID, @ReturnReason, @Quantity, N'Requested');

        -- stok iade et (basit demo: anında iade ekliyoruz)
        UPDATE dbo.ProductVariant
        SET StockQuantity = StockQuantity + @Quantity
        WHERE VariantID = @VariantID;

        COMMIT TRAN;

        SELECT TOP 1 * FROM dbo.[Return] WHERE OrderItemID = @OrderItemID ORDER BY ReturnID DESC;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        THROW;
    END CATCH
END;
GO
USE [master]
GO
