@{
    ViewData["Title"] = "Product Detail";
}

<h2>Product Detail</h2>
<p>ProductID: <strong>@ViewBag.ProductID</strong></p>

<div class="alert alert-info">
    Bir sonraki adımda burada ürün bilgisi + varyant seçimi (beden/renk) yapacağız.
</div>

<a class="btn btn-outline-dark" asp-controller="Catalog" asp-action="Index">Geri</a>
